.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  background-color: rgba(150,225,0,0.2) !important;
  border-color: #212121;
}
.mrating {
	text-align: right;
	float: right;
}
small.small {
	color: #e7e7e7;
}
.mleft {
	float: left;
	width: 30%;
}
.mright {
	float: right;
	width: 70%;
}
.imdb {
    margin:0px 5px 0px 5px;
}
.imdb p {
	line-height: 16px;
}
.imdb a {
	color:#e3e3e3;
}
.imdb a:hover {
	color:#FFF;
}
.series {
	background-color: #435865;
}
.movie {
	background-color: #2f3e47;
}
.modal-header .close {
	margin-top:-20px;
	margin-right:-15px;
}
.page-title {
	text-transform: uppercase;
}
.helvetica {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.lg img {
	width: 90%;
	padding: 0 auto;
	margin: 0 auto;
	position: relative;
	display: block;
	margin-left: 5%;
}
#sidebar-menu ul {
	border-bottom: 1px solid #96E100;
}
